HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Project specific ###
/src/main/resources/application-default.properties
/src/main/resources/static/bundle.css
/src/main/resources/static/bundle.css.map
/src/main/resources/static/bundle.js
/src/main/resources/static/bundle.js.map
/src/main/resources/static/global.css
/node_modules/
