:root {
  --list-line-margin: .25rem;
  --table-row-height: 2rem;
  --table-row-width: 2rem;
  --table-line-margin: .25rem;
  --table-border: 1px solid #eee;
  --table-team-bg: #eee;
  --table-extended-row-v-padding: .25rem 0;
  --table-extended-row-height: 2.5rem;
  --table-large-row-height: 3.5rem;
  --table-large-row-v-padding: .25rem 0;
  --table-item-separator: 1px solid #fff;
  --badge-margin: .25rem;
  --dates-dayoff: #ccc;
  --grid-gap: 2rem;
  --grid-inner-margin: .25rem;
  --grid-group-margin: 2rem;
  --grid-group-border: 1px solid #eee;
  --strip-start: 0;
  --strip-bg-color: transparent;
  --strip-line-color: #ddd;
  --calendar-lines-color: #eee;
  --icon-warning-color: #ffc107; // bootstrap $yellow
  --icon-danger-color: #dc3545; // bootstrap $red
}

.badge-row {
  .badge {
    margin: var(--badge-margin) 0;
  }

  .badge + .badge {
    margin-left: var(--badge-margin);
  }
}

@import '~bootstrap/scss/bootstrap';
@import '~tippy.js/dist/tippy';
@import '~tippy.js/themes/light';
@import '~nprogress/nprogress';