:root {
  --table-row-height: 2rem;
  --table-row-width: 2rem;
  --table-line-margin: .5rem;
  --table-border: 1px solid #eee;
  --table-team-bg: #eee;
  --table-extended-row-v-padding: .25rem 0;
  --table-extended-row-height: 2.5rem;
  --table-large-row-height: 3.5rem;
  --table-large-row-v-padding: .25rem 0;
  --badge-margin: .25rem;
}

.badge-row {
  .badge {
    margin: var(--badge-margin) 0;
  }

  .badge + .badge {
    margin-left: var(--badge-margin);
  }
}

@import '~bootstrap/scss/bootstrap';
@import '~tippy.js/dist/tippy';
@import '~tippy.js/themes/light';
@import '~nprogress/nprogress';